!!!5
%html{'data-ng-app':'yangyingApp', 'data-ng-controller':'MainCtrl'}
  %head

    %meta{charset: 'utf-8'}
    %meta{content: 'ie=edge', 'http-equiv':'x-ua-compatible'}

    %title
      =@title

    %meta{content: '', name: 'description'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}

    //Stylesheets
    =stylesheet_link_tag  'application',
                          '//fonts.googleapis.com/css?family=Roboto:300,400,500,700'

    //FontAwesome CDN
    %link{href: '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel: 'stylesheet', integrity: 'sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==', crossorigin: 'anonymous'}

    //Favicons
    %link{rel:'icon', href:'favicon.ico', type:'image/x-icon'}

  %body{class: @page_classes, id:'yangying'}

    = partial 'partials/header'

    = yield

    = partial 'partials/footer'
