-@title= 'Dashboard - Bulutfon MVP | yangying'
-@page_classes= 'page-dashboard'

.container-fluid
  .row
    .main
      .main-border
        .row
          .col-xs-12.col-sm-4
            .panel.panel-border-green.text-center
              .panel-body.mb-10
                %h4
                  643.50 TL
              .panel-title.mb-10
                %strong
                  Mevcut Kontor
            .panel.panel-border-blue.text-center
              .panel-body.mb-10
                %h4
                  970 Adet
              .panel-title.mb-10
                %strong
                  Mevcut SMS
            %hr
            %ul.nav.nav-tabs{role:'tablist'}
              %li.active{role:'presentation'}
                %a{href:'javascript:;', 'aria-controls':'online', 'data-toggle':'tab', 'data-target':'#online', role:'tab'}
                  %i.fa.fa-info-circle
                  Online
              %li{role:'presentation'}
                %a{href:'javascript:;', 'aria-controls':'help', 'data-toggle':'tab', 'data-target':'#help', role:'tab'}
                  %i.fa.fa-life-ring
                  Help
            .tab-content
              #online.tab-pane.active{role:'tabpanel'}
                %ul.list-unstyled.list-online
                  -3.times do
                    %li.online
                      =image_tag (lorem.image('50x50')), class:'img-circle'
                      %strong
                        =lorem.name
                  -3.times do
                    %li.offline
                      =image_tag (lorem.image('50x50')), class:'img-circle'
                      %strong
                        =lorem.name
              #help.tab-pane{role:'tabpanel'}
                =lorem.paragraphs 3
          .col-xs-12.col-sm-8
            .panel.panel-border-gray
              .panel-heading
                %h3.panel-title
                  %i.fa.fa-phone-square.fa-2x.fa-middle.fa-fw
                  Arama Kayitlari
                  =link_to '#', class:'btn pull-right' do
                    %i.fa.fa-ellipsis-h.fa-2x
              .panel-body
                .table-responsive
                  %table.table.table-bordered
                    %thead
                      %tr
                        -6.times do
                          %th
                            =lorem.words 2
                    %tbody
                      -10.times do
                        %tr
                          -6.times do
                            %td
                              =lorem.words 2
                %nav
                  %ul.pagination
                    %li
                      %a{'aria-label':'Previous', href:'#'}
                        %span{'aria-hidden':'true'} &laquo;
                    %li.active
                      %a{href:'#'} 1
                    %li
                      %a{href:'#'} 2
                    %li
                      %a{href:'#'} 3
                    %li
                      %a{href:'#'} 4
                    %li
                      %a{href:'#'} 5
                    %li
                      %a{'aria-label':'Next', href:'#'}
                        %span{'aria-hidden':'true'} &raquo;
