-@title= 'Table - Bulutfon MVP | yangying'
-@page_classes= 'page-table'

.container{'data-ng-controller':'TableCtrl'}
  .row
    .col-lg-12.mt-30
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            {{main.title}}
        .panel-body
          =lorem.words 10
    .col-lg-12
